{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title> Charityland.org</title>
      
      <link href="{% static 'user/css/bootstrap.min.css'%}">
      <script src="{% static 'user/css/bootstrap.mim.js' %}"></script>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="{% static 'user/css/bootstrap.min.css'%}">
      <!-- style css -->
      <link rel="stylesheet" href="{% static 'user/css/style.css' %}">
      <!-- Responsive-->
      <link rel="stylesheet" href="{% static 'user/css/responsive.css' %}">
      <!-- fevicon -->
      <link rel="icon" href="{% static 'user/images/charitylogonew.png' %}" type="image/gif">
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="{% static 'user/css/jquery.mCustomScrollbar.min.css' %}">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="{% static 'https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css' %}">
      <link rel="stylesheet" href="{% static 'https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css' %}" media="screen">
      <link rel="icon" type="image/png" sizes="32x32" href="/static/assets/img/favicon/charitylogonew.png">
      <link rel="icon" type="image/png" sizes="16x16" href="/static/assets/img/favicon/charitylogonew.png">
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
   </head>
      <!-- end loader -->
      <!-- header -->
      <header>
         <div class="menu">
            <div class="header">
               <div class="container-fluid">
                  <div class="row">
                     <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                        <div class="full">
                           <div class="center-desk">
                              <div class="logo">
                                 <a href="/user/index"><img src={% static 'user/images/Gharitylogonew.png' %} alt="Logo" /></a>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                        <div class="menu-area">
                           <div class="limit-box">
                              <nav class="main-menu">
                                 <ul class="menu-area-main">
                                    <li class="active"> <a href="/user/index">Home</a> </li>
                                    <li> <a href="{% url 'user:takeme' %}">Dashboard</a> </li>
                                    <li> <a href="/members/agent/profile">Agent Panel</a></li>
                                    <li> <a href="/members/agent/feeverify">Vpp Panel</a> </li>
                                    <li> <a href="{% url 'user:sign_up' %}">Register</a> </li>
                                    <li> <a href="{% url 'user:log_in' %}">Login</a> </li>
                                    
                                 </ul>
                              </nav>
                           </div>
                        </div>  
                     </div>
                  </div>
               </div>
            </div>
            </div>
         </header>
              <!-- header inner -->
         <div class="head">
            <div  class="container">
               <div class="row ">
                  <div  class="col-md-6">
                     <ul class="email_call">
                        <li><a href="#"><img src="{% static 'user/icon/2.png' %}" alt="#"/>Call Us</a></li>
                        <li><a href="#"><img src="{% static 'user/icon/1.png' %}" alt="#"/>Email Us</a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
   <!-- body -->
   {% block content %}
   <body class="main-layout">
      <!-- loader  -->
      <div class="loader_bg">
        
         <!--<div class="loader"><img src="{% static 'user/loading.gif' %}" alt="#" /></div>-->
      </div>
   {% endblock %}
  <!-- contact -->
  <div id="request" class="contact">
   <div class="container-fluid">
      <div class="row">
        
            <div class="contact">
               <div class="titlepage">
                  <h2>Request a call back</h2>
               </div><br>
               <form class="request">
                  <div class="row">
                     <div class="col-sm-12">
                        <input class="contactus" placeholder="Name" type="text" name="Name">
                     </div>
                     <div class="col-sm-12">
                        <input class="contactus" placeholder="Phone Number" type="text" name="Phone Number">
                     </div>
                     <div class="col-sm-12">
                        <input class="contactus" placeholder="Email" type="text" name="Email">
                     </div>
                     <div class="col-sm-12">
                        <textarea class="textarea" placeholder="Message" type="text" name="Message"></textarea>
                     </div>
                     <div class="col-sm-12">
                        <button class="send">Send</button>
                     </div>
                  </div>
               </form>
            </div>
         </div>
         
      </div>
   </div>

<!-- end contact -->
 <div class="footer_container1">
    <div class="footer1">
       <div class="footer_heading1">
          <h2>About us</h2>
          <a href="">Partners</a>
          <a href="">Blog</a>
          <a href="">Roadmap</a>
          <a href="">Conditions</a>
       </div>
       <div class="footer_heading1">
         <h2>Contact us</h2>
         <a href="">Jobs</a>
         <a href="">Contact</a>
         <a href="">Support</a>
         <a href="">Sponsorship</a>
      </div>
      <div class="footer_heading1">
         <h2>Social Media</h2>
         <a href="">facebook</a>
         <a href="">Instagram</a>
         <a href="">Twitter</a>
         <a href="">Linkdin</a>
      </div>
      <div class="footer_email_form1">
         <h2>Join our newsletter</h2>
         <input type="text" id="footer_email1" placeholder="Enter your email address">
         <input type="submit" value="Subscribe" id="footer_email_btn1">
         </div>
    </div>
    <a href="{% url 'user:log_out' %}">Logout</a>
 </div>
 <!-- Javascript files-->
 <script src="{% static 'user/js/jquery.min.js' %}"></script>
 <script src="{% static 'user/js/popper.min.js' %}"></script>
 <script src="{% static 'user/js/bootstrap.bundle.min.js' %}"></script>
 <script src="{% static 'user/js/jquery-3.0.0.min.js' %}"></script>
 <script src="{% static 'user/js/plugin.js' %}"></script>
 <!-- sidebar -->
 <script src="{% static 'user/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
 <script src="{% static 'user/js/custom.js' %}"></script>
 <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
 <script>
    // This example adds a marker to indicate the position of Bondi Beach in Sydney,
    // Australia.
    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 11,
            center: {
                lat: 40.645037,
                lng: -73.880224
            },
        });
    
        var image = "{% static'user/images/maps-and-flags.png'}";
        var beachMarker = new google.maps.Marker({
            position: {
                lat: 40.645037,
                lng: -73.880224
            },
            map: map,
            icon: image
        });
    }
 </script>
 <!-- google map js -->
 <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8eaHt9Dh5H57Zh0xVTqxVdBFCvFMqFjQ&callback=initMap"></script>
 <!-- end google map js -->
</body>
</html>
