{% extends 'user/base.html' %}
{% load static %}
{% block content %}
            <!-- end header inner -->
            <!-- end header -->
            <div class="header-top">
            <section class="slider_section">
               <div id="myCarousel" class="carousel slide banner_main" data-ride="carousel">
            
                  <div class="carousel-inner">
                     <div class="carousel-item active">
                        <div class="container">
                           <div class="carousel-caption">
                              <div class="row ">
                                 <div class="col-md-7">
                                    <div class="text-bg">
                                       <span>Create more wealth</span> 
                                       <h2> through Entrepreneurship </h2>
                                       <p>Startup ideas are sponsored annually through charity and donations, many young entrepreneurs find it difficult to access such opportunities within their regions.</p>
                                       <p>however Charityland.org brings equal opportunities to everyone irrespective of their region.</p>
                                       <a href="{% url 'user:sign_up' %}">Join Now</a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="carousel-item">
                        <div class="container">
                           <div class="carousel-caption">
                              <div class="row">
                                 <div class="col-md-7">
                                    <div class="text-bg">
                                       <span>Reduce unemployment</span> 
                                       <h2>through brotherhood</h2>
                                       <p>The size of the government work force is an alarming problem, which implies that government alone can cover the unemployment gap in the world.</p>
                                       <p>Hence, individual people are being encourage to become self employed through charity and philantropy.</p>
                                       <a href="{% url 'user:sign_up' %}">Join Now</a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="carousel-item">
                        <div class="container">
                           <div class="carousel-caption">
                              <div class="row">
                                 <div class="col-md-7">
                                    <div class="text-bg">
                                       <span>Improve health</span> 
                                       <h2>through joint research & technology</h2>
                                       <p>At Charityland.org we believed that keeping healthy environment requires not just the government but also our individua efforts.</p>
                                       <a href="{% url 'user:sign_up' %}">Join Now</a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="carousel-item">
                        <div class="container">
                           <div class="carousel-caption">
                              <div class="row">
                                 <div class="col-md-7">
                                    <div class="text-bg">
                                       <span>Eliminate hunger & poverty</span> 
                                       <h2> through brotherhood </h2>
                                       <p>At the dawn of the 21st century we are still a long way from achieving what has eluded humanity for thousands of years, a world free from hunger and poverty. The past thirty years, however, have brought us closer to reaching this goal.</p>

                                          <p>However, there is no room for complacency. Even today, close to 1.2 billion people - a fifth of the world's population - continue to live in conditions of abject poverty. Almost 800 million people in the developing world are chronically hungry.</p>
                                       <a href="{% url 'user:sign_up' %}">Join Now</a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <ol class="carousel-indicators">
                     <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                     <li data-target="#myCarousel" data-slide-to="1"></li>
                     <li data-target="#myCarousel" data-slide-to="2"></li>
                     <li data-target="#myCarousel" data-slide-to="3"></li>
                  </ol>
                  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                     <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                     <span class="sr-only">Previous</span>
                     </a>
                     <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                     <span class="carousel-control-next-icon" aria-hidden="true"></span>
                     <span class="sr-only">Next</span>
                     </a>
               </div>
               
            </section>
         </div>
      <!-- three box -->
      <div id="service" class="back_box">
         <div class="container-fluid">
            <div class="row">
               <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 padd_rile">
                  <div class="three_box">
                     <span>01</span>
                     <h3>Children</h3>
                     <img src="/static/assets/img/team/Children.png"  alt="Mission 1">
                     <p>Every child deserved to be healthy, happy, and educated irrespective of
                         where He/She comes from, and every individual human being has a role to
                          play in expanding Children opportunities in life. </p>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 padding_l">
                  <div class="three_box yellow">
                     <span class="yellow" >02</span>
                     <h3>Health & Climate Change</h3>
                     <img src="/static/assets/img/team/Climate.png"  alt="climate">
                     <p> Vulnerable populations of Children, older adult, pregnant women, persons with disabilities, preexisting or chronic medical conditions, and low incomes
                        are suffering from one or more sickness around the globe and 
                        find it very difficult to get help from anyone, however Promoting and 
                        protecting good health worldwide can be achieved faster through humanitarianism.</p>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 padd_ri">
                  <div class="three_box">
                     <span>03</span>
                     <h3>Youth & poverty</h3>
                     <img src="/static/assets/img/team/Youthandp.png"  alt="Youth">
                     <p>Talented youth are demanding more opportunities to explore and bring more solutions in the societies,
                         but problem of access to education, unemployment and gender inequality has being a major challenge.</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end three box -->
      <!-- wellcome  -->

<div id="service" class="back_box">
         <div class="container-fluid">
            <div class="row">
               <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 padd_rile">
                  <div class="card card-body bg-white border-light shadow-sm mb-4">
                     <div class="col-12 text-center">
                     
                     <ul>
                        
                        <li>
                        <div class="col-auto">
                           <!-- Avatar -->
                           <img alt="Image placeholder" src="{% static 'user/images/inter.png' %}" class="">
                         </div>
                        </li>
                        <h2><li>● Collective international development programmes verification and Evaluation </li></h2>
                        
                     </ul>
                     <p>Through sets of trained and authorised agents, geniune development projects can be carryout internationally by talented individuals.</p>
                     
                  
               </div>
               </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 padding_l">
                  <div class="card card-body bg-white border-light shadow-sm mb-4">
                  
                     <div class="col-12 text-center">
                     <ul>
                        <li>
                        <div class="col-auto">
                           <!-- Avatar -->
                           <img alt="Image placeholder" src="{% static 'user/images/scan.png' %}" class="">
                         </div>
                        </li>
                        <h2><li>● Identification and Evaluation of human challenges</li></h2>
                     </ul>
                     <p>charityland.org works with varieties of dedicated and certified agents 
                        around the globe that assist with the Identification and Evaluation of 
                        critical human challenges around the globe in other to solve them through 
                        Collective donations or sponsorships.</p>
                  </div>
               </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 padd_ri">
                  <div class="card card-body bg-white border-light shadow-sm mb-4">
                     <div class="col-12 text-center">
                     <ul>
                        <li>
                           
                        <div class="col-auto">
                           <!-- Avatar -->
                           <img alt="Image placeholder" src="{% static 'user/images/rec.png' %}" class="">
                         </div>
                        
                        </li>
                        <h2><li>Keeping records of Donors and beneficiaries</li></h2>
                        
                     </ul>
                     <p>Record and progress of every project and program is made available and accessible electronically to everyone.</p>
                  </div>
               </div>
            </div>
            <div class="col-md-12">
               <a class="read_more" href="{% url 'user:sign_up' %}">Join Now</a>
            </div>
         </div>
      </div>

         <div class="container">
             <div class="row justify-content-center mb-5 mb-lg-6">
                 <div class="col-12 text-center">
                     <h2 class="h1 px-lg-5">Charityland.org</h2>
                 </div>
                 <div class="video">
                 <video controls src="/static/user/images/Charitylandclip.mp4" type="video/mp4" width="100%" height="240px"></video>
               </div>
             </div>
             
             <!-- <div class="row">
                 <div class="col-12 col-sm-6 col-lg-3">
                     <div class="">
                         <div class="px-3 px-lg-4 py-5 text-center">
                             <h5 class="font-weight-bold text-primary">Cardano</h5>
                             <div class="col-12">
                                 <img src="{% static 'user/images/cardano.png' %}" alt="ID Front">
                             </div>
                             
                         </div>
                     </div>
                 </div>
                 <div class="col-12 col-sm-6 col-lg-3">
                     <div class="">
                         <div class="px-3 px-lg-4 py-5 text-center">
                             <h5 class="font-weight-bold text-primary">Elongate</h5>
                             <div class="col-12">
                                 <img src="{% static 'user/images/elongate.png' %}" alt="ID Front">
                             </div>
                             
                         </div>
                     </div>
                 </div>
                 <div class="col-12 col-sm-6 col-lg-3">
                     <div class="">
                         <div class="px-3 px-lg-4 py-5 text-center">  
                             <h5 class="font-weight-bold text-primary">Tesla</h5>
                             <img src="{% static 'user/images/tesla.png' %}" alt="Selfie Photo">
                             
                         </div>
                     </div>
                 </div>
                 <div class="col-12 col-sm-6 col-lg-3">
                     
                         <div class="px-3 px-lg-4 py-5 text-center">
                             
                             <h5 class="font-weight-bold text-primary">shiba donor</h5>
                             <img src="{% static 'user/images/shibadonor.png' %}" alt="ID Front">
                             
                             
                         </div>
                     </div>
                 </div> -->
             </div>

      <!-- end Better -->
      <!-- review -->
      
      <!-- end review -->
    
      <!--  footer -->
      
      <!-- end footer -->
      
      {% endblock %}
