{% extends "members/layouts/base-fullscreen.html" %}



<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<main class="content">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
        <div class="btn-toolbar dropdown">
            <button class="btn btn-primary btn-sm mr-2 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="fas fa-plus mr-2"></span>Complain
            </button>
            <div class="dropdown-menu dashboard-dropdown dropdown-menu-left mt-2">
                <a class="dropdown-item font-weight-bold" href="#"></span>Payment failure</a>
                <a class="dropdown-item font-weight-bold" href="#"></span>PPS not responding</a>
                
            </div>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-primary">PPS</button>
            <button type="button" class="btn btn-sm btn-outline-primary">Atm Card</button>
        </div>
    </div>
    <div class="row justify-content-md-center">
       
    <div class="row">
        <div class="col-12 col-xl-8 mb-4">
            <div class="row">
                <div class="col-12 mb-4">
                    <div class="card border-light shadow-sm">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="card card-body bg-white border-light shadow-sm mb-4">
                                    <h2 class="h5 mb-4"></h2>
                                    <!-- The text field -->
                                    <h4>Your Withdrawal Via PPS was successfully </h4>
                                    <p>Wait for transfer to your local bank account from the PPS</p>
                                    <p>Within 5 mins...</p>
                                    <div id="div1"><h6>08026148213</h6><a class="btn btn-sm btn-primary mr-2" id="button1" onclick="CopyToClipboard('div1')"><span
                                        class="fas"></span>Call</a></div><br>
                                       <a class="btn btn-sm btn-secondary" href="https://api.whatsapp.com/send?phone=2348026148213">whatsapp</a><br>
                                       <div class="text-success">
                                      
                                    </div>
                                </div>
                                <div class="">
                                <p class=""><a href="#" class="btn btn-sm btn-secondary">What is PPS?</a></p>
                                </div>
                                
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             </div>
                </div>
            </div>
        </div>
      
    </div>
</main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    function CopyToClipboard(containerid) {
      if (document.selection) {
        var range = document.body.createTextRange();
        range.moveToElementText(document.getElementById(containerid));
        range.select().createTextRange();
        document.execCommand("copy");
      } else if (window.getSelection) {
        var range = document.createRange();
        range.selectNode(document.getElementById(containerid));
        window.getSelection().addRange(range);
        document.execCommand("copy");
        alert("Phone Number Copied")
      }
    }
    
    </script>
{% endblock javascripts %}
