<body>
    <head><link type="text/css" href="/static/idcard/idcard.css" rel="stylesheet">
		<link type="text/css" href="/static/idcard/responsive.css" rel="stylesheet">
	</head>


<div class="id-card-tag"></div>
	<div class="id-card-tag-strip"></div>
	<div class="id-card-hook"></div>
	<div class="id-card-holder">
		<div class="id-card">
			<div class="header">
				<img src="/static/assets/img/Charitylogonew.png">
			</div>
			<div class="photo">
				<img src="{{ idcard.get_avatar }}">
			</div>
			<h2>{{ idcard.user.get_full_name }}</h2>
			<div class="qr-code">
				<h2>Agent ID: CLA 12{{ idcard.user.id }}</h2>
			</div>
			<h3>www.charityland.org</h3>
			<hr>
			<p><strong>"CONTACT":</strong> U.S HEADQUARTERS 199 N. Fairfax Street<p>
			<p>Suite 300, Alexandria, VA  </p>
			<strong><p>| E-mail: charityland@yahoo.com</p></strong>

		</div>
	</div><br><br><br>


	<div class="id-card-tag"></div>
	<div class="id-card-tag-strip"></div>
	<div class="id-card-hook"></div>
	<div class="id-card-holder">
		<div class="id-card">
			<div class="qr-code">
				<h2>Agent ID: CLA 12{{ idcard.user.id }}</h2>
			</div>

			<div class="qr-code">
				<h2>Issue: 2021 09 03</h2>
			</div>

			<div class="qr-code">
				<h2>Expiry: 2023 09 31</h2>
			</div>
			<div class="header">
                                <img src="/static/assets/img/CQR.png">
			</div>
				
			</div>
			
			<h2>www.charityland.org</h2>
			
			<div class="photo">
				<img src="/static/assets/img/Charitylogonew.png">
			</div>
			<h3>www.charityland.org</h3>
			<hr>
			

		</div>
	</div>
</body>
    
