{% extends "members/layouts/base-fullscreen.html" %}

{% block title %} Lock {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<main class="content">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
        <div class="btn-toolbar dropdown">
            <button class="btn btn-primary btn-sm mr-2 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="fas fa-plus mr-2"></span>Complain
            </button>
            <div class="dropdown-menu dashboard-dropdown dropdown-menu-left mt-2">
                <a class="dropdown-item font-weight-bold" href="#"></span>Payment failure</a>
                <a class="dropdown-item font-weight-bold" href="#"></span>PPS not responding</a>
                
            </div>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-primary">PPS</button>
            <button type="button" class="btn btn-sm btn-outline-primary">Atm Card</button>
        </div>
    </div>
    <div class="row justify-content-md-center">
       
    <div class="row">
        <div class="col-12 col-xl-8 mb-4">
            <div class="row">
                <div class="col-12 mb-4">
                    <div class="card border-light shadow-sm">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="card card-body bg-white border-light shadow-sm mb-4">
                                    <h2 class="h5 mb-4">Send $6.8(₦3,502) to the PPS below for verificarion</h2>
                                    <!-- The text field -->
                                    <h4>First bank of Nigeria(FBN)</h4>
                                    <p>Partner's name: Karibu Ibrahim Chiroma</p>
                                    <div id="div1"><h6>3082694732</h6><a class="btn btn-sm btn-primary mr-2" id="button1" onclick="CopyToClipboard('div1')"><span
                                        class="fas"></span>Copy</a></div>
                                        <p>Kareeb</p>
                                       <p>Contact :+2348104090057</p> Contact  PPS for confirmation<a class="btn btn-sm btn-secondary" href="https://api.whatsapp.com/send?phone=2348104090057">whatsapp</a><br>
                                       <div class="text-success">
                                        <a href="{% url 'checkidupload' %}">●Click here and Proceed to verification</a>
                                     </div>
                                </div>
                                <div class="">
                                <p class="">Choose a verified (PPS) from the list below to process your payment, <a href="#" class="btn btn-sm btn-secondary">What is PPS?</a></p>
                                </div>
                                <div class="col-12 col-lg-6 mb-4">
                                    <div class="card border-light shadow-sm">
                                        <div class="card-header border-bottom border-light d-flex justify-content-between">
                                            <h6 class="h6 mb-0">Select PPS partner below</h6>
                                            <a href="#" class="btn btn-sm btn-secondary">See all</a>
                                        </div>
                                        <div class="card-body">
                                            <ul class="list-group list-group-flush list my--3">
                                                <li class="list-group-item px-0">
                                                    <div class="row align-items-center">
                                                    <div class="col-auto">
                                                        <!-- Avatar -->
                                                        <a href="#" class="user-avatar">
                                                            <img class="rounded-circle" alt="Image placeholder" src="/static/assets/img/team/PPS.png">
                                                        </a>
                                                    </div>
                                                    <div class="col-auto ml--2">
                                                        <h4 class="h6 mb-0">
                                                            <a href="#">Raymas</a>
                                                        </h4>
                                                        <span class="text-success">●</span>
                                                        <small>Online</small>
                                                    </div>
                                                    <div class="col text-right">
                                                        <a href="{% url 'ray' %}" class="btn btn-sm btn-tertiary"><i class="fas fa-calendar-check mr-1"></i>Pay</a>
                                                    </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item px-0">
                                                    <div class="row align-items-center">
                                                        <div class="col-auto">
                                                            <!-- Avatar -->
                                                            <a href="#" class="user-avatar">
                                                                <img class="rounded-circle" alt="Image placeholder" src="/static/assets/img/team/PPS.png">
                                                            </a>
                                                        </div>
                                                        <div class="col-auto ml--2">
                                                            <h4 class="h6 mb-0">
                                                                <a href="#">Natty</a>
                                                            </h4>
                                                            <span class="text-success">●</span>
                                                        <small>Online</small>
                                                        </div>
                                                        <div class="col text-right">
                                                            <a href="{% url 'paywithvictor' %}" class="btn btn-sm btn-tertiary"><i class="fas fa-calendar-check mr-1"></i>Pay</a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item px-0">
                                                    <div class="row align-items-center">
                                                        <div class="col-auto">
                                                            <!-- Avatar -->
                                                            <a href="#" class="user-avatar">
                                                                <img class="rounded-circle" alt="Image placeholder" src="/static/assets/img/team/PPS.png">
                                                            </a>
                                                        </div>
                                                        <div class="col-auto ml--2">
                                                            <h4 class="h6 mb-0">
                                                                <a href="#">Auta</a>
                                                            </h4>
                                                            <span class="text-success">●</span>
                                                        <small>Online</small>
                                                        </div>
                                                        <div class="col text-right">
                                                            <a href="{% url 'busy' %}" class="btn btn-sm btn-tertiary"><i class="fas fa-calendar-check mr-1"></i>Pay</a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item px-0">
                                                    <div class="row align-items-center">
                                                        <div class="col-auto">
                                                            <!-- Avatar -->
                                                            <a href="#" class="user-avatar">
                                                                <img class="rounded-circle" alt="Image placeholder" src="/static/assets/img/team/PPS.png">
                                                            </a>
                                                        </div>
                                                        <div class="col-auto ml--2">
                                                        <h4 class="h6 mb-0">
                                                                <a href="#">Muhsin</a>
                                                        </h4>
                                                        <span class="text-success">●</span>
                                                        <small>Online</small>
                                                        </div>
                                                        <div class="col text-right">
                                                            <a href="{% url 'msn' %}" class="btn btn-sm btn-tertiary"><i class="fas fa-calendar-check mr-1"></i>Pay</a>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        </div>
                                </div>
                                <div class="col-12 col-lg-6 mb-4">
                                    <div class="card border-light shadow-sm">
                                        <div class="card-header border-bottom border-light d-flex justify-content-between">
                                            <h6 class="h6 mb-0">Select PPS partner below</h6>
                                            <a href="#" class="btn btn-sm btn-secondary">See all</a>
                                        </div>
                                        <div class="card-body">
                                            <ul class="list-group list-group-flush list my--3">
                                                <li class="list-group-item px-0">
                                                    <div class="row align-items-center">
                                                    <div class="col-auto">
                                                        <!-- Avatar -->
                                                        <a href="#" class="user-avatar">
                                                            <img class="rounded-circle" alt="Image placeholder" src="/static/assets/img/team/PPS.png">
                                                        </a>
                                                    </div>
                                                    <div class="col-auto ml--2">
                                                        <h4 class="h6 mb-0">
                                                            <a href="#">Bilo</a>
                                                        </h4>
                                                        <span class="text-success">●</span>
                                                        <small>Online</small>
                                                    </div>
                                                    <div class="col text-right">
                                                        <a href="{% url 'busy' %}" class="btn btn-sm btn-tertiary"><i class="fas fa-calendar-check mr-1"></i>Pay</a>
                                                    </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item px-0">
                                                    <div class="row align-items-center">
                                                        <div class="col-auto">
                                                            <!-- Avatar -->
                                                            <a href="#" class="user-avatar">
                                                                <img class="rounded-circle" alt="Image placeholder" src="/static/assets/img/team/PPS.png">
                                                            </a>
                                                        </div>
                                                        <div class="col-auto ml--2">
                                                            <h4 class="h6 mb-0">
                                                                <a href="#">QR</a>
                                                            </h4>
                                                            <span class="text-success">●</span>
                                                        <small>Online</small>
                                                        </div>
                                                        <div class="col text-right">
                                                            <a href="{% url 'qrb' %}" class="btn btn-sm btn-tertiary"><i class="fas fa-calendar-check mr-1"></i>Pay</a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item px-0">
                                                    <div class="row align-items-center">
                                                        <div class="col-auto">
                                                            <!-- Avatar -->
                                                            <a href="#" class="user-avatar">
                                                                <img class="rounded-circle" alt="Image placeholder" src="/static/assets/img/team/PPS.png">
                                                            </a>
                                                        </div>
                                                        <div class="col-auto ml--2">
                                                            <h4 class="h6 mb-0">
                                                                <a href="#">Nordic</a>
                                                            </h4>
                                                            <span class="text-danger">●</span>
                                                            <small>Offline</small>
                                                        </div>
                                                        <div class="col text-right">
                                                            <a href="{% url 'busy' %}" class="btn btn-sm btn-tertiary"><i class="fas fa-calendar-check mr-1"></i>Pay</a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item px-0">
                                                    <div class="row align-items-center">
                                                        <div class="col-auto">
                                                            <!-- Avatar -->
                                                            <a href="#" class="user-avatar">
                                                                <img class="rounded-circle" alt="Image placeholder" src="/static/assets/img/team/PPS.png">
                                                            </a>
                                                        </div>
                                                        <div class="col-auto ml--2">
                                                        <h4 class="h6 mb-0">
                                                                <a href="#">Natro</a>
                                                        </h4>
                                                        <span class="text-danger">●</span>
                                                            <small>Offline</small>
                                                        </div>
                                                        <div class="col text-right">
                                                            <a href="{% url 'busy' %}" class="btn btn-sm btn-tertiary"><i class="fas fa-calendar-check mr-1"></i>Pay</a>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             </div>
                </div>
            </div>
        </div>
      
    </div>
</main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    function CopyToClipboard(containerid) {
      if (document.selection) {
        var range = document.body.createTextRange();
        range.moveToElementText(document.getElementById(containerid));
        range.select().createTextRange();
        document.execCommand("copy");
      } else if (window.getSelection) {
        var range = document.createRange();
        range.selectNode(document.getElementById(containerid));
        window.getSelection().addRange(range);
        document.execCommand("copy");
        alert("Account has been copied")
      }
    }
    
    </script>
{% endblock javascripts %}
