{% extends "members/layouts/basea.html" %}
{% load static %}

{% block title %} Settings {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main class="content"> 

        {% include 'members/includes/navigation.html' %}

            <div class="row">
                <div class="col-12 col-xl-8">
                    <div class="card card-body bg-white border-light shadow-sm mb-4">
                        <div class="row justify-content-center">
                            <h4 class="font-weight-normal text-center">Agent's Task</h4>
                                    <h6 class="font-weight-normal">
                                    <h5 class="h6">{{ agent.task }}</h5>
                                    </h6>
                            <p>Task location:</p><p>{{ agent.taskaddress }}</p>
                            <p class="">Task reward:</p>
                            <h3 class="font-weight-bolder">$ {{ agent.taskreward }}</h3>
                                   <p>Released on:</p><p>{{ agent.updated_at }}</p>
                                    
                            </div>
                            </div>
                            </div>
                            </div>
                            
                            
                            
                            
                            
    </main>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
